### Make a copy of this file and name it "config.py". Then, edit the values below as needed for your environment and preferences. 
### This file is imported by other scripts to access these configuration values.

LAB_DIRECTORY = "z://" #path to the lschulte-lab folder
INPUTS_DIRECTORY = "inputs" #path to the inputs folder
MIN_CONFIDENCE = 0.1
MAX_PROCESSES = 2
OVERLAP = 0

NUM_FILES = 5